@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
  
@font-face {
  font-family:"Raleway" ;
  src: url('../fonts/Raleway-Regular.woff');
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  src: url('../fonts/Raleway-Italic.ttf') format('truetype');
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}


*{
    font-family: "Lato", serif;
    font-size: 1rem;
  }

  .Header__name{
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 2rem;
    margin:0.5rem ;
  }

  .Header__title{
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 1rem;
    margin:0.5rem ;

  }

  p{
    font-family: "Raleway-regular", sans-serif;
    font-weight: 400;
    font-size:0.8rem;
  }

  div{
    font-family: "Raleway-regular", sans-serif;
    font-weight: 400;
    font-size:0.8rem;
  }

  a{
    color: white;
    text-decoration: none;
  }

  body{
    width: 1160px;
   margin-left: auto;
   margin-right: auto;
   border-right: 1px solid black;
}

  .Header__picture{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px #c47877 ;
  }

  .Header__picture:hover{
    cursor: zoom-in;
  }

 

  .Header{
    display:flex;
    flex-direction: column;
    background-color: #782221;
    color: white;
    align-items: center;
    justify-content: center;
    height: 20rem;
  }

  .Address{
    display:flex;
    background-color: #2c1d27;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .Address__info div{
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  
  .Address__info{
    display:flex;
    flex-direction: row;
    align-items: center;   
  }

  .Address__info__address{
    align-items: start;
    margin-left: 80px;
  }

  .Address__info__email{
    align-items: center;
  }

  .Address__info__phone{
    align-items: end;
    margin-right: 80px;
  }

  .Address__info__address:hover{
    text-decoration: underline;
  }

  .Address__info__email:hover{
    text-decoration: underline;
  }

  .Address__info__phone:hover{
    text-decoration: underline;
  }


  .Information{
    display: flex;
    flex-direction: row;   

  }

  .Personnal{
    background-color: #782221;
    display:flex;
    flex-basis:30%;
    flex-direction: column;
    
  }

  .Workexperience{
    background-color: white;
    display:flex;
    flex-basis:70%;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
    
    
  }

 
  .Personnal h3{
    display: flex;
    flex-direction: row;
    background-color: #dbc2a4;
    width: 90%;
    text-indent: 20px;
    height:30px;
    align-items: center;
    
  }

  


  .Personnal__information__text{
    color: white;
    padding-left: 20px;
    padding-right: 40px;
    text-indent: 50px;
    text-align: justify;
    
  }

   .Personnal__information__language{
    color: white;
    padding-left: 20px;
  }

  .Personnal__information__hobbies{
    color: white;
    padding-left: 20px;
  }


  .Workexperience h3{
    display: flex;
    flex-direction: row;
    background-color: #dbc2a4;
    width: 90%;
    height: 30px;
    border-left: 5px solid #782221 ;
    text-indent: 20px;
    align-items: center;
  }

 
.Workexperience__information{
    padding-left: 20px;
}

.Workexperience__style__Highco{
  padding-bottom: 30px;
}

.Workexperience__information__text{
    padding-left: 20px;
}

.Workexperience__style__diptyque:hover{
    border-right:solid 4px #782221
}
    
.Workexperience__style__celio:hover{
    border-right:solid 4px #782221
}
    
.Workexperience__style__Konica:hover{
        border-right:solid 4px #782221
}
    
.Workexperience__style__Highco:hover{
    border-right:solid 4px #782221
}
    
    .Workexperience__information__Ingenieur:hover{
      border-right:solid 4px #782221
    }
    
    .Workexperience__information__Bac:hover{
      border-right:solid 4px #782221
    }

.Workexperience__information__Bac{
  padding-bottom: 30px;
}

.Workexperience__information__Competences:hover{
  border-right:solid 4px #782221
}

.Workexperience__information__Competences{
  padding-bottom: 20px;
  padding-top: 20px;
}

.Workexperience__information__Competences:hover{
    border-right:solid 4px #782221
  }

.Footer{
    background-color: #782221;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8rem;
    
}

.Footer img{
    margin: 5px;
    width: 50px;
    height: 50px;
}
  
.Footer__Social:hover{
    opacity: 0.5;
    }