@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
  
@font-face {
  font-family:"Raleway" ;
  src: url('../fonts/Raleway-Regular.woff');
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  src: url('../fonts/Raleway-Italic.ttf') format('truetype');
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}